<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- 데이터베이스 연결 설정 -->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.mariadb.jdbc.Driver" />
        <property name="url" value="jdbc:mariadb://walab.handong.edu:3306/p231_22200701" />
        <property name="username" value="p231_22200701" />
        <property name="password" value="OWa2ie" />
    </bean>

    <!-- JdbcTemplate 빈 설정 -->
    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- BoardDAO 빈 설정 -->
    <bean id="boardDAO" class="com.crud.dao.BoardDAO">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <!-- Components scan for annotations like @Controller, @Service, etc. -->
    <context:component-scan base-package="com.crud" />
</beans>
